<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{item.name}} <star-rating [starType]="'svg'" [rating]="item.stars"></star-rating></mat-card-title>
    <mat-card-subtitle>Cena: {{item.price | currency:'USD'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.imgUrl" alt="Photo of food">
  <mat-card-content>W magazynie: {{productsInStock$ | async}}
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onMinus()" [disabled]="orderAmount === 0" data-testid="increase-order-amount-product-card">-</button>
    <button mat-raised-button color="warn" (click)="onPlus()" [disabled]="productsInStock$ | async| isSmallerOrEqualThan:orderAmount">+</button>
      Ilość: {{orderAmount}}
    <button mat-icon-button color="accent" (click)="onAddOrders()" [disabled]="orderAmount <= 0">
      <mat-icon aria-label="Add to shopping cart">add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
