<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>Cena: {{item.price}} PLN</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.imgUrl" alt="Photo of food">
  <mat-card-content>W magazynie: {{item.inStock}}</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onMinus(item.id)">-</button>
    <button mat-raised-button color="danger" (click)="onPlus(item.id)">+</button>
    Ilość:
  </mat-card-actions>
</mat-card>
