.card-wrapper {
  max-width: 350px;
  height: 100px;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 3px 4px 1px #969696;
}

img {
  width: 100%;
  object-fit: cover;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}

.amount-wrapper {
  display: flex;
  align-items: center;
}

.amt {
  margin: 0 5px;
}
